<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawandguess">







    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Fullscreen">

        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".game"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".wait"
            android:label="@string/title_activity_wait"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".charts"
            android:label="@string/title_activity_charts"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".photo"
            android:label="@string/title_activity_photo"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".connect"
            android:label="@string/title_activity_connect"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".normal"
            android:label="@string/title_activity_normal"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".Maininterface"
            android:label="@string/title_activity_normal"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".creat"
            android:label="@string/title_activity_creat"
            android:screenOrientation="landscape"
             />
        <activity
            android:name=".game_guess"
            android:label="@string/title_activity_game_guess"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>